.parent {
  display: flex;
  flex-direction: column;
}

.walkerWrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 300px;
  width: 250px;
  border: 0;
}

.walkerWrapper a {
  color: white;
}

.walkerImage {
  object-fit: cover;
  height: 300px;
  width: 250px;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  text-align: center;
}

.desparked {
  background: red;
}

.desparked img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.unknown {
  filter: saturate(0);
}
