.walkerWrapper {
  height: 400px;
  width: 250px;
  overflow: hidden;
}

.walkerImage {
  object-fit: cover;
  opacity: 0.4;
  max-width: 100%;
  max-height: 100%;
}

.desparked {
  background: red;
}

.unknown {
  filter: saturate(0);
}